services:
  # Backend Web Service
  - type: web
    name: student-management-backend
    runtime: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: DB_URL
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASS
        sync: false
      - key: PORT
        value: 8080
    healthCheckPath: /student-management/api/students
    autoDeploy: true
